
h1{
	text-align: center;
	font-family: Garamond;
	color: yellow;
	border-style: 

}

table{
	border-style: solid; 
	background-color: pink;
}
tr{
	background-color: cyan;
	text-align: center
}
body{
	background-color: #86d4de;
}
